<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>admin</key>
	<dict>
		<key>Username</key>
		<string>admin</string>
		<key>Password</key>
		<string>12345</string>
		<key>First Name</key>
		<string></string>
		<key>Last Name</key>
		<string></string>
		<key>Middle Initial</key>
		<string></string>
		<key>isAdmin</key>
		<true/>
	</dict>
</dict>
</plist>
